.button-connect {
  background-color: #FFC046;
  border: none;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.btn-span-connect {
  display: inline-block;
  transition: transform 0.3s ease;
}
.button-connect:hover .btn-span-connect{
  transform: scale(1.1);
  color: #ffffff;
}

// -------------------------------------------- btn navbar -------------------------------------------------------
.button-navbar {
  background-color: #1a1a24; /* Fundo escuro */
  color: #FFC046; /* Cor do texto amarelo */
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: 1.5px;
  outline: none;
  z-index: 1;
  border-radius: 14px;
}

.button-navbar::before,
.button-navbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px solid #ffffff; /* Cor das bordas */
  z-index: -1;
  border-radius: 14px;
}

.button-navbar::before {
  transform: translate(0px, 0px) rotate(2deg); /* Primeira borda deslocada */
  opacity: 0.5; /* Mais transparente */
}

.button-navbar::after {
  transform: translate(0px, 0px) rotate(-2deg); /* Segunda borda deslocada */
  opacity: 0.7; /* Menos transparente */
}

/* Terceira borda usando box-shadow */
.button-navbar {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.3); /* Terceira borda com mais transparência */
}

.button-navbar:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  button span{
    font-size: 18px;
  }
  .button-connect{
    width: 100%;
    letter-spacing: 5px;
  }
}


@media (max-width: 425px) {
  button.button-navbar span{
    font-size: 16px;
  }

  .button-navbar{
    padding: 10px 20px;
  }
}
