<div class="donate-page flex-column">
    <div class="flex-column gap-16 m-100">
        <div class="flex-column gap-16">
            <h2>💛 Porquê doar?</h2>
            <p>Ao fazeres uma doação, estás a apoiar diretamente o crescimento e a evolução do nosso servidor. Cada contribuição ajuda-nos a investir em novas funcionalidades, melhoramentos de performance, roupas personalizadas, carros exclusivos, e muito mais.</p>
            <p>O teu apoio permite-nos continuar a criar uma experiência de roleplay cada vez mais rica, imersiva e divertida para toda a comunidade.</p>
        </div>
        <div>
            <p>🎯 Doar não é obrigatório, mas faz toda a diferença. Se gostas do nosso projeto e queres ver o servidor crescer, considera contribuir!</p>
        </div>
    </div>
    <hr class="dots"/>
    <button class="pay-btn" type="button" (click)="donate()">Doar</button>
</div>